.home-page {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.home-page form {
  margin: 20px 0;
}

.home-page input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  
}

.home-page button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.home-page button[type="submit"]:hover {
  background-color: #3e8e41;
}

.home-page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-page li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.home-page .filename {
  flex-grow: 1;
  margin-right: 20px;
}

.home-page button {
  background-color: #337ab7;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-page button:hover {
  background-color: #23527c;
}
